
~$otizen.docx
~WRL0005.tmp
examplecode/.Rproj.user/A71CB8F1/sdb/prop/BD217B24
examplecode/.Rproj.user/A71CB8F1/sdb/prop/INDEX
examplecode/.Rproj.user/A71CB8F1/sdb/prop/INDEX
examplecode/.Rproj.user/A71CB8F1/sdb/s-457767D7/35CD9F06
*.pper
CODE/.Rproj.user/A71CB8F1/rmd-outputs
CODE/.Rproj.user/A71CB8F1/saved_source_markers
CODE/.Rproj.user/A71CB8F1/sdb/per/t/506E6174
CODE/.Rproj.user/A71CB8F1/sdb/prop/699C5229
CODE/.Rproj.user/A71CB8F1/sdb/prop/INDEX
CODE/.Rproj.user/A71CB8F1/session-persistent-state
CODE/.Rproj.user/shared/notebooks/paths
CODE/CODE.Rproj
*.pper
examplecode/.Rproj.user/A71CB8F1/pcs/source-pane.pper
*.pper
examplecode/.Rproj.user/A71CB8F1/sdb/per/t/26D9EEC0
examplecode/.Rproj.user/A71CB8F1/sdb/per/t/35CD9F06
examplecode/.Rproj.user/A71CB8F1/sdb/per/t/49182B63
examplecode/.Rproj.user/A71CB8F1/sdb/s-457767D7/26D9EEC0
examplecode/.Rproj.user/A71CB8F1/sdb/s-457767D7/35CD9F06
examplecode/.Rproj.user/A71CB8F1/sdb/s-457767D7/49182B63
examplecode/.Rproj.user/A71CB8F1/sdb/s-457767D7/lock_file
examplecode/.Rproj.user/A71CB8F1/sdb/s-457767D7/lock_file
*.pper
