
~$otizen.docx
~WRL0005.tmp
examplecode/.Rproj.user/A71CB8F1/sdb/prop/BD217B24
examplecode/.Rproj.user/A71CB8F1/sdb/prop/INDEX
examplecode/.Rproj.user/A71CB8F1/sdb/prop/INDEX
examplecode/.Rproj.user/A71CB8F1/sdb/s-457767D7/35CD9F06
